* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.header {
  display: grid;
}

.img {
  width: 50%;
}
.block-1 {
  background-color: #c3ddec;
  grid: 1/3;
}

.block-2 {
  background-color: #ff722e;
  grid: 2/3;
}

.block-3 {
  background-color: #ffb200;
  grid: 3/3;
}
.white {
  color: #fff;
}
